:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin: 60px auto;
  max-width: 800px;
  text-align: center;
}

h1 {
  display: block;
  font-size: 96px;
  margin: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

.about-button {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: white;
  text-decoration: none;
}

.contact-button {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  border-color: var(--primary-color);
  color: white;
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.about-paragraphs {
  display: flex;
}
.about-paragraphs div {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin: 10px;
  flex: 1;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.contact-button a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}
.about-button a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
}

.homepage-link a {
  display: block;
  margin: 0;
  text-align: center;
}
